<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BlindsInterview">
<head>
    <title>BlindsInterview</title>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
   
    <script src="https://use.fontawesome.com/1f97658fe1.js"></script>
    <base href="/" />
</head>
<body>

    <ui-view layout="column" layout-align="start center"></ui-view>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


</body>
</html>
