@import url('site.css');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.calc-icon {
    font-size: 22px;
    color: white;
}

.banner {
    background-color: indigo;
    width: 100%;
    height: 10%;
}

.tit {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: white;
}

.ban-wid {
    width: 50%;
}

.res-size {
    width: 60%;
    margin-left: 20%;
}

.band-one {
    width: 20px;
    height: 66px;
    position: absolute;
    top: 6px;
    left: 132px;
    border: solid 1px black;
}

.band-two {
    width: 20px;
    height: 66px;
    position: absolute;
    top: 6px;
    left: 198px;
    border: solid 1px black;
}

.band-three {
    width: 20px;
    height: 66px;
    position: absolute;
    top: 6px;
    left: 264px;
    border: solid 1px black;
}

.band-four {
    width: 20px;
    height: 77px;
    position: absolute;
    top: 1px;
    left: 312px;
    border: solid 1px black;
}

.resistor {
    background-image: url('https://www.eeweb.com/tools/resistor_color/resbody.png');
    background-size: cover;
    position:relative;
    height: 80px;
    width: 417px;
    top: 10px;
}

.font {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.font-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.selection {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.drop {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    .drop .md-text {
        font-size:.8em;
    
    }
    .border-top{
        border-top: 1px solid black;
        margin: 0;
        margin-top: -20px;
    }
    .top{
        margin-top: 0px;
    }